.register-form {
  background-color: var(--bg-5);
  border-radius: 10px;
  max-height: 900px;
  width: 350px;
  margin-top: 80px;
  overflow: hidden;
  border: 1px solid rgb(98, 98, 98);
  justify-self: center;
  padding: 1rem;
}

.login-instead {
  background-color: var(--bg-5);
  outline: none;
  border: none;
  color: var(--text-muted-1);
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.login-instead:hover {
  text-decoration: underline;
  color: var(--text);
}

input[name="firstName"],
input[name="lastName"] {
  width: 8rem;
}