.form-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.form-label {
  margin: 0;
  text-align: left;
}

.text-input,
.date-input,
.time-input,
.textarea-input {
  border-radius: 12px;
  border: none;
  height: 40px;
  padding-left: 10px;
  box-shadow: var(--input-shadow);
  background-color: var(--bg-7);
}