.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--bg-5);
  color: var(--text);
}

.start-and-end-times {
  display: flex;
  gap: 10px;
}

input[name="title"] {
  width: 200px;
}

input[name="location"] {
  width: 200px;
}

.date-input {
  width: 132px;
}

.time-input {
  width: 1000px;
}

textarea[name="description"] {
  height: 80px;
  width: 100%;
}