.calendar-days-of-week,
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
  width: 90%;
  padding: 1%;
  justify-self: center;
}

@media (max-width: 640px) {
  .calendar-days-of-week,
  .calendar {
    width: 100%;
  }
}

.calendar-days-of-week {
  background-color: var(--bg-6);
  height: 28px;
  align-content: center;
}

.day-of-week {
}

.calendar {
  background-color: var(--bg-4);
  margin-bottom: 20px;
}