.event-card {
  background-color: green;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 90%;
  padding: 0.1rem 0;
  margin: 0.2rem auto;
  border: none;
  border: 2px solid transparent;
  color: var(--text);
}

.event-card:hover {
  border: 2px solid var(--event-card-border-hover);
}

.event-card:active {
  border: 2px solid var(--event-card-border-active);
}

.event-card-time,
.event-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
  padding: 0 0.3rem;
}

.event-card-time {
  font-size: 0.8rem;
} 
/* TODO: at <640px screen reduce time to only start time */